In [2]:
# Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learing', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name': course_name, 'duration': duration})
df

       course_name  duration
0     Data Science         2
1  Machine Learing         3
2         Big Data         6
3    Data Engineer         4

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.columns
df[1:2]

       course_name  duration
1  Machine Learing         3

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

## loc()
loc is used to select rows and columns based on the labels of the index and columns. This means that you can use the actual row and column names to select data. For example, if you have a DataFrame called df and you want to select the first row and the column called 'A', you would use the following code:

## iloc()
iloc is used to select rows and columns based on their integer positions. This means that you can use the numerical positions of the rows and columns to select data. For example, if you have a DataFrame called df and you want to select the first row and the first column, you would use the following code:

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [4]:
reindex = [3,0,1,2]
df.reset_index()
newdf =df.reindex(reindex)
print(newdf.loc[2])
print(newdf.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learing
duration                     3
Name: 1, dtype: object

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
## (i) mean of each and every column present in the dataframe.
## (ii) standard deviation of column, ‘column_2’

In [5]:
print(df.mean())
print(df['duration'].std())

duration    3.75
dtype: float64
1.707825127659933

C:\Users\SHIV\AppData\Local\Temp\ipykernel_5804\826972669.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean())

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
# mean of column, column_2.
## If you are getting errors in executing it then explain why.
## [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [9]:
str1 = 'prashant'
df.loc[1,'duration'] = str1 
mean_col2 = df['duration'].mean()
print(mean_col2)

# 'duration' contains non-numeric values such as strings , then you will not be able to calculate the mean using the mean() method. 

df

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

## in pandas ,  a windows is a way to specify a range of data over which a calculation or transoparmition can be applied . the windows can be define using a number of data points or time based offset.

## the most common use of windows in pandas is for calculating the rolling staticstics rolling mean or rolling sum.


# Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [26]:
import datetime
# the pd.datetime() function is deprecated and should not be used. Instead, you can use the datetime module from the Python standard library to get the current date and time. Here's an updated example code snippet that prints the current month and year using datetime:

now = datetime.datetime.now()


month_year = now.strftime('%B %Y')


print(f"The current month and year: {month_year}")

The current month and year: May 2023

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result. Did you observe any difference in both the outputs? If so then explain it. Consider the below code to answer further questions:

In [27]:
import pandas as pd

# Get the start and end dates from the user
start_date = input("Enter the start date (YYYY-MM-DD): ")
end_date = input("Enter the end date (YYYY-MM-DD): ")

# Convert the dates to pandas Timestamps
start = pd.Timestamp(start_date)
end = pd.Timestamp(end_date)

# Calculate the difference between the dates
delta = end - start

# Print the result
print(f"Time difference between {start} and {end}:")
print(f"{delta.days} days, {delta.seconds // 3600} hours, {delta.seconds % 3600 // 60} minutes")

Time difference between 2023-02-12 00:00:00 and 2002-02-01 00:00:00:
-7681 days, 0 hours, 0 minutes